<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nuevo_proyecto">

    <application
        android:allowBackup="true"
        android:icon="@drawable/fast_hot"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pollito"
        android:supportsRtl="true"

        android:theme="@style/Theme.Nuevo_proyecto">

        <!-- Actividad principal -->
        <activity
            android:name="com.example.app.ui.theme.MainActivity"
        android:theme="@style/Theme.AppCompat"/>

        <!-- Actividad principal -->
        <activity
            android:name="com.example.app.ui.theme.LoginActivity"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.theme.IntroActivity"
            android:exported="true"/>

        <activity
            android:name="com.example.app.ui.theme.DeliveryActivity"
            android:exported="true"/>

        <activity
            android:name="com.example.app.ui.theme.Metodo_pago"
            android:exported="true"
            tools:ignore="Instantiatable"/>

        <activity
            android:name="com.example.app.ui.theme.PedidosActivity"
            android:exported="true"
            tools:ignore="Instantiatable" />

    </application>
</manifest>
